*.suo
bin/
obj/
*.user
.vs
Library/
Logs/
Temp/
UserSettings/
Output/
ILRuntimeDemo/Packages/packages-lock.json
ILRuntimeDemo/.vsconfig
/out
ILRuntimeDemo/Assets/XLua/Gen/
ILRuntimeDemo/Assembly-CSharp.csproj
ILRuntimeDemo/ILRuntimeDemo.sln
